<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      hogefuga
    </div>
  </div>
  <div class="right-header">
    <div class="header-button">
      <a href="#">チャットを終了する</a>
    </div>
  </div>
</div>
<div class="messages">
  <div class="message">
    <div class="message-info">
      <div class="user-name">Tom</div>
      <div class="created_at">2024年7月7日 19:00:00</div>
    </div>
    <div class="message-content">
      おはよう
    </div>
  </div>
  <div class="message">
    <div class="message-info">
      <div class="user-name">Kimu</div>
      <div class="created_at">2024年7月7日 19:01:00</div>
    </div>
    <div class="message-content">
      おはよう。早くして。
    </div>
  </div>

</div>
<div class="form">
  <div class="form-box">
    <input placeholder="type a message" class="text-field">
    <label class="form-image">
      <span class="image-file">画像</span>
      <input type="file" class="hidden">
    </label>
  </div>
  <input type="submit" value="送信" class="submit-btn">
</div>